{erl_opts, [debug_info,
            {platform_define, "^(R14|R15|R16B|17)", 'random_module_available'}
           ]}.
{plugins, [
            { pc, {git, "https://github.com/blt/port_compiler.git", {tag, "1.6.0"}}}
          ]}.
{port_specs, [{"priv/cecho.so", ["c_src/cecho.c"]}]}.
{port_env, [
             {"DRV_LDFLAGS", "$DRV_LDFLAGS -lncurses"}
            ]
}.
{so_name, "cecho.so"}.
{artifacts, ["priv/cecho.so"]}.
{provider_hooks,
  [
    {pre,
      [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
      ]
    }
  ]
}.
